<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Boolzapp</title>
	<link rel="stylesheet" href="assets/style.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer">
	<script
		src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"
		defer></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
	<script src="assets/script2.js" defer></script>
</head>

<body>
	<main>
		<!-- Vue mount point -->
		<div id="container">

			<!-- User details. Icons not working, so they are not inside an <a> tag -->
			<div class="user">
				<div class="icon">
					<div class="avatar">
						<img :src="userAvatar" :alt="userName">
					</div>
					<div class="info">
						<p class="name">{{userName}}</p>
						<div class="icons">
							<i class="fa-solid fa-circle-notch"></i>
							<i class="fa-solid fa-message"></i>
							<i class="fa-solid fa-ellipsis-vertical"></i>
						</div>
					</div>
				</div>
			</div>

			<!-- 
			Notification section: only for display, 
			nothing is actually supposed to work
			-->
			<div class="notification">
				<div class="icon">
					<div class="bell">
						<i class="fa-solid fa-bell-slash"></i>
					</div>
					<div class="text">
						<p class="msg-1">Ricevi notifiche di nuovi
							messaggi</p>
						<p class="msg-2">Attiva notifiche desktop</p>
					</div>
				</div>
			</div>

			<!-- 
			Input to filter contacts and show in real time
			only those whose name contains the input string.
			Pretty sure that @keyup listener is unnecessary.
			-->
			<div class="search">
				<div class="container">
					<span class="icon">
						<i class="fa-solid fa-magnifying-glass"></i>
					</span>
					<input type="text" v-model="nameContains" @input="onChange"
						placeholder="Cerca o inizia una nuova chat">
				</div>
			</div>

			<!-- Shows the contacts in the data array
			based also on input search in the above section -->
			<div class="contacts">
				<div v-for="(contact, index) in filteredContacts" :key="contact.name"
					class="contact" :class="{active: index === activeIndex}"
					@click="chooseActiveContact(contact)">
					<img :src="contact.avatar" :alt="contact.name">
					<div class="info">
						<div class="userdata">
							<span class="name">{{contact.name}}</span>
							<span class="date">{{lastMessageDate(contact)}}</span>
						</div>
						<p class="text">{{lastMessageText(contact)}}</p>
					</div>
				</div>
			</div>

			<!-- 
			Active contact details. 
			Icons not working, so they are not inside an <a> tag
			-->
			<div class="active-contact">
				<div class="contact">
					<div class="avatar">
						<img :src="contacts[activeIndex].avatar"
							:alt="contacts[activeIndex].name">
					</div>
					<div class="info">

						<div class="text">
							<p class="name">{{contacts[activeIndex].name}}</p>
							<p class="date">Ultimo accesso:
								{{lastMessageDate(contacts[activeIndex])}}
							</p>
						</div>

						<div class="icons">
							<i class="fa-solid fa-magnifying-glass"></i>
							<i class="fa-solid fa-paperclip"></i>
							<i class="fa-solid fa-ellipsis-vertical"></i>
						</div>

					</div>
				</div>
			</div>

			<!-- 
			Chat display with sent and received messages from the selected contact.
			Messages can be deleted using an hidden menu
			that appears on click over the message chevron down.
			Sent messages have the "sent" class dinamically added
			and after an interval set in a Javascript variable, an automatic answer
			is generated with the class "received" dinamicaly added. 
			-->
			<div class="chat">
				<div v-for="(msg, index) in contacts[activeIndex].messages"
					:key="msg.message" class="conversation">
					<div class="bubble" :class="msg.status">
						<p>{{msg.message}}</p>
						<p class="date">{{msg.date}}</p>

						<div class="menu-icon" @click="toggleShowMenu(index)">
							<i class="fa-solid fa-chevron-down"></i>
						</div>

						<ul v-show="showMenu === index" class="hidden-menu">
							<li class="menu-item">Info messaggio</li>
							<li class="menu-item" @click="deleteMessage(index)">Elimina il
								messaggio</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- 
			Section with an input field to write a message and send it.
			Icons are not supposed to work so they are not inside an <a> tag.
			-->
			<div class="new-message-input">
				<div class="container">
					<div class="icon">
						<i class="fa-regular fa-face-smile"></i>
					</div>
					<input type="text" v-model="newMessage" @keyup.enter="addMessage"
						placeholder="Scrivi un messaggio">
					<div class="icon">
						<i class="fa-solid fa-microphone"></i>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>
